.publish-btn {
  background: #e52200;
  border-radius: 0.3rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 0 auto;
  padding: 0.14rem 0.32rem;
  line-height: 1;
}
