.contacts {
  z-index: 1;
  //
  //ion-badge {
  //  font-weight: normal;
  //}

  .friends-seg {
    margin-top: 0.2rem;
    width: 78%;
    margin-left: 0.1rem;
    box-shadow: 0 0 0;

    .segment-button-checked {
      color: #e52200;

      //ion-label {
      //  background: #F3F3F3;
      //  padding: 0.11rem 0.5rem;
      //  border-radius: 4rem;
      //}
    }
  }

  .item .sc-ion-label-ios-h {
    display: flex;
  }

  .letter {
    color: #858585;
    background: #EEEEEE;
    padding: 0.12rem 0.44rem;
  }

  .friends-name {
    font-size: 0.36rem;
    color: #242424 !important;
    margin-left: 0.28rem;
  }

  // 索引列表
  .index-list {
    margin-top: 2rem;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    li {
      width: 1rem;
      line-height: 2em;
      text-align: center;
      color: #666;
    }

  }

  .avatar-group {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: 0.05rem solid #fff;
    float: left;
  }


}