
<div id="content">
    <!-- 索引 -->
    <ul class="index-list">
        <li *ngFor="let key of objectKeys(letterObjs)" (click)="scrollToTop(key)">
            {{key != 'digit' ? key : '#'}}</li>
    </ul>

    <ion-item-group>
        <div *ngFor="let key of objectKeys(letterObjs)">
            <div *ngIf="letterObjs[key].length>0">
                <ion-item-divider color="light" id="{{key}}">
                    <ion-label class="letter-group">{{key != 'digit' ? key : '#'}}</ion-label>
                </ion-item-divider>
            </div>

            <div *ngFor="let item of letterObjs[key]">
                <!--        <ion-item [routerLink]="['/chat-window']" [queryParams]="{id:item.friendId,chatType:'friend'}" lines="none" detail="false">-->
                <ion-item (click)="goChat($event,item)" lines="none" detail="false">
                    <ion-avatar class="avatar-group">
                        <img src="{{item.profile}}" width="50">
<!--                        <img src="{{item.profile | imgUrl}}" width="50">-->
                    </ion-avatar>
                    <ion-label class="pt-d24 pb-d24 line-clamp pr-d60">{{ item.alias || item.nickname }}</ion-label>
                </ion-item>
            </div>
        </div>
    </ion-item-group>
</div>
